p {
    /* Applies to all*/
    font-family: Arial;
    margin-top: 0px;

}

.Vid-Title {
    font-weight: bold;
    font-size: 18px;
    width: 280px;
    /*to take text down*/
    line-height: 24px;
    margin-bottom: 4px;
}

.Vid-Stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.Vid-Own {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.Vid-Desc {
    width: 280px;
    font-size: 14px;
    color: rgb(96, 96, 96);
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.shop {
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.span:hover {
    text-decoration: underline;
    cursor: pointer;
}